html, body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background 300ms ease;
}

.light {
    --bg-primary: #F0F0F0;
    --bg-secondary: white;
    --text-primary: black;
    --text-secondary: blue;
}

.dark {
    --bg-primary: #121212;
    --bg-secondary: #1F1F1F;
    --text-primary: white;
    --text-secondary: orange;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

.cols {
    display: flex;
    align-items: center;
}

.col {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.right {
    margin-left: 1rem;
}

.right textarea {
    width: 97%;
    height: 60%;
    resize: none;
    background-color: var(--bg-secondary);
    border-color: var(--bg-primary);
    color: var(--text-primary)
}

.col iframe {
    height: 100%;
    border-width: 0;
    width: 100%;
}

.nav {
    justify-content: space-between;
    -webkit-box-shadow: 0px 0px 30px -10px black;
    -moz-box-shadow: 0px 0px 30px -10px black;
    box-shadow: 0px 0px 30px -10px black;
    margin-bottom: 1rem;
    background-color: var(--bg-secondary);
}

.nav p {
    margin: 0;
}

.tools {
    padding-right: 1rem;
}

.tools button {
    padding: .5rem;
    size: 1.5rem;
    margin-left: 1rem;
    margin-right: .5rem;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

.tools button:hover {
    transform: scale(1.1);
}

.fas {
    font-size: 2rem;
}

.content {
    flex: 1 1 auto;
}

.info {
    padding-top: 2rem;
    font-size: 1.2rem;
    flex-grow: 1;
}

.info h2 {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}

#title {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

#timer {
    padding-left: 1rem;
    padding-top: .5rem;
    font-size: 2rem;
}

#start {
    color: rgb(31, 231, 31);
}

#stop {
    color: red;
}

#theme {
    transition: transform 300ms ease;
    color: var(--text-primary);
}

/* Small screens */
@media only screen and (max-width: 768px) {
    .cols {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }

    .left {
        height: 50vh;
    }

    .right {
        margin-left: 0;
        height: 100vh;
    }

    .nav {
        flex-direction: row;
    }

    .tools {
        flex-direction: row;
    }

    textarea {
        margin-top: 1rem;
        width: 100%;
        align-self: center;
        height: 50vh;
    }
    
    footer {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #title {
        font-size: 1rem;
    }
}

/* Large screens */
@media only screen and (min-width: 768px) {
    html, body {
        height: 100vh;
    }
}