<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ucf-fe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
    </head>
<body>
    <main>
        <div class="cols nav">
            <h1 id="title">UCF Foundation Exam Practice</h1>
            <div class="cols tools">
                <button id="startstop"><i class="fas fa-play"></i></button>
                <button onclick="switchTheme()"><i id="theme" class="fas fa-adjust"></i></button>
                <p id="timer">09:32</p>
            </div>
        </div>
        <div class="cols content">
            <div class="col left">
                <iframe
                    src="{{ url_for('static', filename='question/'+question) }}"
                ></iframe>
            </div>
            <div class="col right">
                <textarea>Your solution here...</textarea>
                <div class="info">
                    <h2>Exam Info</h2>
                    <p><a href="{{ url_for('static', filename='misc/FE-FormulaSheet.pdf') }}" target="_blank">Refrence Sheet</a></p>
                    <p><a href="{{ url_for('static', filename='info/'+question_info+'.pdf') }}" target="_blank">Exam Statistics</a></p>
                </div>
                <div class="report">
                    <h2>Report</h2>
                    <p>Your Time Left: 03:23</p>
                    <p>Hit the play button again to get another question.</p>
                </div>
                <footer>
                    <p>Made by <span><a href="https://www.vijaystroup.com" target="_blank">Vijay Stroup</a></span> for my fellow Knights</p>
                    <a id="terms">Terms</a>
                </footer>
            </div>
        </div>
    </main>
</body>
</html>