<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ucf-fe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
    </head>
<body>
    <main>
        <div class="cols nav">
            <h1 id="title">UCF Foundation Exam Practice</h1>
            <div class="cols tools">
                <button id="play-stop"><i id="start" class="fas fa-play"></i></button>
                <button onclick="switchTheme()"><i id="theme" class="fas fa-adjust"></i></button>
                <p id="timer">00:00</p>
            </div>
        </div>
        <div class="cols content">
            <div class="col left">
                <iframe id="pdf"
                    src="{{ url_for('static', filename='misc/instructions.pdf') }}"
                ></iframe>
            </div>
            <div class="col right">
                <textarea>Your solution here...</textarea>
                <div class="info">
                    <h2>Exam Info</h2>
                    <p><a href="{{ url_for('static', filename='misc/FE-FormulaSheet.pdf') }}" target="_blank">Refrence Sheet</a></p>
                    <p><a id="stats" href="#">Exam Statistics</a></p>
                </div>
                <footer>
                    <p>Made by <span><a href="https://www.vijaystroup.com" target="_blank">Vijay Stroup</a></span> for my fellow Knights</p>
                    <a href="/terms">Terms</a>
                </footer>
            </div>
        </div>
    </main>
</body>
</html>