<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCF FE Practice - Terms</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>

    <style>
        main {
            text-align: center;
        }
        a {
            font-size: 2rem;
            padding-bottom: 5rem;
        }
    </style>
</head>
<body>
    <main>
        <a href="/">Return To Homepage</a>
        <h1>Questions provided by The Department of Computer Science @ UCF</h1>
        <h2>Images property of UCF</h2>
    </main>
</body>
</html>