@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

:root {
  --shadow: 0px 0px 30px -10px black;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--color-primary);
  font-family: 'Nunito';
  transition: .25s;
}

.dark {
  --color-primary: white;
  --color-secondary: #FFCC00;
  --background-primary: #121212;
  --background-secondary: #1F1F1F;
}

.light {
  --color-primary: black;
  --color-secondary: #2495ff;
  --background-primary: white;
  --background-secondary: #F0F0F0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
