.main {
  height: 100%;
  display: flex;

  .left, .right {
    height: 100%;
    width: 50vw;
  }
}

#bar {
  height: 100%;
  width: .5rem;
  cursor: col-resize;
  background-color: var(--color-secondary);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-secondary);
  color: var(--color-primary);
  padding:.1rem;
  bottom: 0;

  #donate {
    &:hover {
      color: var(--color-secondary);
    }
  }
}
