.all {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;

  .left, .right {
    height: 100%;
    width: 50vw;
  }
}

#bar {
  height: 100%;
  width: .5rem;
  cursor: col-resize;
  background-color: var(--color-secondary);
}
