.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--background-secondary);
  box-shadow: var(--shadow);
  margin-bottom: .5rem;

  .title {
    font-size: 2rem;
    margin: .5rem 0;
  }

  .controls {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }

    #play, #stop {
      height: 4rem;
      width: auto;
    }

    #play {
      color: rgb(0, 255, 0);
    }

    #stop {
      color: red;
      display: none;
    }

    #theme {
      height: 2.5rem;
      width: auto;
    }

    p {
      font-size: 2rem;
      margin: 0 0 0 1.5rem;
    }
  }
}
